
\.idea/

\.vscode/

\.pytest_cache/

*.egg-info/

*/__pycache__/

*.pyc

*.sqlite

*.DS_Store

/results/csv_files/*

/results/graph_plots/*

!/results/csv_files/README.md

!/results/graph_plots/README.md
